/* hivemind-project/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../public/fondo.webp');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.hivemind-hero-section{
    position: relative;
    z-index: -2;
}

.form-transparent {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    backdrop-filter: blur(10px);
}

.form-transparent input,
.form-transparent textarea {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.form-transparent input::placeholder,
.form-transparent textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.form-transparent input:focus,
.form-transparent textarea:focus {
    border-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.form-transparent button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.bg-transparent {
    background-color: rgba(0, 0, 0, 0.6);
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

nav {
  margin-top: 20px; /* Space between the top and the nav bar */
  margin-bottom: 20px; /* Space between the nav bar and the body */
}